html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}
canvas {
  display: block;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 0;
}

.MAIN {
  position: relative; 
  width: 100%;
  height: 100vh; 
}

.n-logo {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 2.5%; 
  height: auto; 
  z-index: 5; 
  cursor: pointer;
}


.on-button {
  position: absolute;
  bottom: 5%; 
  left: 2%; 
  width: 6%; 
  height: auto; 
  z-index: 8;
  cursor: pointer;
}

.off-button {
  position: absolute;
  bottom: 5%; 
  left: 2%; 
  width: 6%; 
  height: auto; 
  z-index: 7;
  cursor: pointer;
}

.instruct-logo {
  position: absolute;
  bottom: 5%;
  right: 2%;
  width: 2.5%; 
  height: auto; 
  z-index: 6; 
  cursor: pointer;
}

.instruction-text {
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  bottom: 16%; 
  right: 5%; 
  transform: translateY(100%); 
  color: hotpink;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 12px;
  pointer-events: none;
  z-index: 101;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  font-size: 0.8em;
  text-align: left;
}

.instruct-logo:hover + .instruction-text {
  opacity: 1; 
}


nav {
  position: absolute; 
  top: 1%;
  right: 2%;
  z-index: 102;
}

.navbar {
  list-style-type: none;
  display: flex; 
  gap: 25px;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: hotpink; 
  text-decoration: none;
  font-family: 'Source Code Pro', monospace; 
  font-weight: 500;
  font-size: 0.8em;
  transition: color 0.3s ease; 
}

.navbar a:hover {
  color: #5A93CC; }
